.headerImage {
  min-height: 100px;
  background-color: rgb(55, 55, 55);
}

.title {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

.headerImage img,
.headerImage_mobile img,
.sale img,
.sale_mobile img {
  width: 100%;
  height: auto;
}

.sale_mobile,
.headerImage_mobile {
  display: none;
}

.info {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgb(55, 55, 55);
  color: #b3b3b3;
  font-size: 13px;
  width: 100%;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.text {
  margin: 10px 15px;
}

.question {
  font-weight: 600;
  margin-bottom: 5px;
}

.homegrown {
  width: 900px;
  margin: 60px auto;
  text-align: center;
  color: #06038d;
  font-size: 2.5rem;
  font-weight: 600;
}

.tricolorBackground {
  background-image: linear-gradient(to right, #ff9933, #ffffff, #138808);
  padding: 10px;
}

/* Responsive Styles for Mobile and Smaller Screens */

@media (max-width: 768px) {
  .sale_mobile,
  .headerImage_mobile {
    display: block;
  }

  .sale,
  .headerImage {
    display: none;
  }

  .homegrown {
    font-size: 2rem;

    width: 300px; /* Decrease font size for the homegrown text */
  }

  .title {
    font-size: 2.5rem;
  }

  .info {
    display: none;
  }
}
