.pageContainer {
  width: 420px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.homegrown {
  color: #990000;
  font-size: 1.5rem;
  font-weight: bold;
}

.tricolorBackground {
  background-image: linear-gradient(to right, #ff9933, #ffffff, #138808);

  padding: 10px;
}

/* Responsive Styles for Mobile and Smaller Screens */

@media (max-width: 768px) {
  .homegrown {
    font-size: 1rem; /* Decrease font size for the homegrown text */
  }
  .pageContainer {
    width: 300px;
  }
}
