/* Common styles for the .nav2 container and .text */
.nav2 {
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  margin-top: 44px;
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent text from wrapping */
}

.text {
  padding: 5px;
  animation: marquee 20s linear infinite; /* Apply the marquee animation */
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping within the text div */
  animation-timing-function: linear;
}

.vibratingSpan {
  animation: vibrate 0.3s infinite;
  display: inline-block;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Marquee animation to move text from right to left */
@keyframes marquee {
  0% {
    transform: translateX(170%);
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(-170%);
    animation-timing-function: linear;
  }
}

@keyframes marqueeMobile {
  0% {
    transform: translateX(70%);
    animation-timing-function: linear;
  }
  100% {
    transform: translateX(-100%);
    animation-timing-function: linear;
  }
}

/* Adjust the font size for smaller screens */
@media screen and (max-width: 480px) {
  .text {
    font-size: 11px;
  }
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .nav2 {
    margin-top: 0;
  }

  .text {
    animation: marqueeMobile 20s linear infinite; /* Apply the marquee animation */
    font-size: 12px;
  }
}
