.container {
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
  grid-gap: 20px;
  flex: 1;
  padding: 30px;
}

.container > .flex-item:last-child {
  align-self: flex-start;
  justify-self: flex-start;
}
