.icon {
  cursor: pointer;
  color: #b3b3b3;
  margin: 0 5px;
}

.icon:hover {
  color: #ffffff;
}

.container > *,
.container > * > *,
.container > * > * > *,
.container > * > * > * > *,
.container > * > * > * > * > *,
.container > * > * > * > * > * > *,
.container > * > * > * > * > * > * > *,
.container > * > * > * > * > * > * > * > *,
.container > * > * > * > * > * > * > * > * > * {
  font-family: inherit !important;
}

@media (max-width: 800px) {
  .container {
    display: none;
  }
}
