.container .MuiMenu-list,
.container .MuiMenuItem-root {
  font-family: inherit !important;
}

.icon {
  cursor: pointer;
  color: #b3b3b3;
  margin: 0 5px;
}

.icon:hover {
  color: #ffffff;
}

@media (max-width: 800px) {
  .container {
    display: none;
  }
}
