.container {
  padding: 20px;
}

.titleBox {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 40px;
  margin: 10px auto 70px auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.title {
  margin-right: 20px;
  flex: 1;
  order: -1;
  font-size: 35px;
  margin-bottom: 20px;
}

.icons {
  margin: 20px 0;
  color: rgb(0, 96, 99);
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 30px;
  transition: all 0.3s;
}

.icons:hover {
  color: white;
  background-color: rgb(55, 55, 55);
}

.description {
  font-style: italic;
  color: rgb(73, 73, 73);
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid rgb(73, 73, 73);
}

.section {
  margin: 40px 10px;
}

.container h2 {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
