.banner img {
  width: 100%;
  height: auto;
}

.heading {
  font-size: 30px;
  width: 300px;
  margin: 30px auto 20px auto;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  justify-content: space-around;
  grid-gap: 20px;
  flex: 1;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
