.banner img {
  width: 100%;
  height: auto;
}

.heading {
  font-size: 30px;
  width: 300px;
  margin: 30px auto 20px auto;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
